.search-form {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

.search-form__field:focus {
  border-color: gold;
  box-shadow: 0 0 6px 0 gold;
}

.search-form__btn {
  color: white;

  background-color: tomato;
  border-radius: 12px;
}

.search-form__btn:active {
  background-color: #d14c34;
}

.search-form__btn svg {
  width: 24px;
  height: 24px;
}
