html {
  overflow-y: scroll;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: "Segoe UI", Verdana, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.btn {
  position: relative;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
}

.btn:active {
  top: 2px;
  left: 1px;
}

.page-link {
  display: inline-grid;
  place-items: center;
  padding: 5px;

  color: white;
  font-weight: 700;
  text-decoration: none;

  background-color: orange;
  border-radius: 5px;
}

.page-link:hover {
  background-color: darkorange;
}

.page-link:active {
  background-color: tomato;
}

.all-options-link {
}

.app-container {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;

  background: #f7f7f7;
  box-shadow: 0 0 20px -5px lightgrey;
}

.main-content {
  padding: 5px 10px;
}
