html {
  overflow-y: scroll;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: "Segoe UI", Verdana, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.btn {
  position: relative;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
}

.btn:active {
  top: 2px;
  left: 1px;
}

.page-link {
  display: inline-grid;
  place-items: center;
  padding: 5px;

  color: white;
  font-weight: 700;
  text-decoration: none;

  background-color: orange;
  border-radius: 5px;
}

.page-link:hover {
  background-color: darkorange;
}

.page-link:active {
  background-color: tomato;
}

.text-field {
  padding: 4px 8px;

  font: inherit;

  border-radius: 12px;
  border: 2px solid tomato;
  outline: none;
  min-width: 100px;
}

.text-field:focus {
  border-color: gold;
  box-shadow: 0 0 6px 0 gold;
}

.app-container {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;

  background: #f7f7f7;
  box-shadow: 0 0 20px -5px lightgrey;
}

.main-content {
  position: relative;
  padding-top: 1px;
  margin-top: -1px;
}

.main-content::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: inset 0 3px 6px -3px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
