@import "./ingredient-card.css";

.ingredients-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;

  margin: 0;
  padding: 5px;

  list-style: none;
}
