.ingredients-list {
  display: flex;
  flex-flow: row wrap;

  margin: 0;
  padding: 5px;

  list-style: none;
}

.ingredients-list li {
  flex: 1 1 auto;
  margin: 5px;
}

.ingr-link {
  display: grid;
}
