.areas-list {
  display: flex;
  flex-flow: row wrap;

  margin: 0;
  padding: 5px;

  list-style: none;
}

.areas-list li {
  flex: 1 1 auto;
  margin: 5px;
}

.area-link {
  position: relative;
  display: grid;
  place-items: center;
  padding: 10px;

  font-size: 1.2rem;
  font-weight: 700;
  color: black;
  text-decoration: none;

  background: #e0e0e0;
  border-radius: 10px;
}

.area-link:hover {
  color: white;
  background: darkgrey;
}

.area-link:active {
  top: 2px;
  left: 1px;

  background: grey;
}
