@import "./category-card.css";

.categories-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 10px;

  margin: 0;
  padding: 10px;

  list-style: none;
}

.categories-list__card-link {
  color: inherit;
}
