.show-more {
  display: grid;
  grid-gap: 10px;
  place-items: center;

  padding: 10px;
}

.show-more__count {
  grid-row: 1;
  margin: 0;
  padding: 0;

  font-style: italic;
  color: grey;
}

.show-more__btn {
  grid-row: 2;
}
