.meal-details {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas:
    "title title"
    "image tags"
    "image instr"
    "ingr instr"
    "foot foot";
  grid-gap: 20px;
}

@media (max-width: 767px) {
  .meal-details {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "image"
      "tags"
      "instr"
      "ingr"
      "foot";
  }
}

.meal-details__title {
  grid-area: title;
  margin-bottom: 0;
}

.meal-details__image {
  grid-area: image;
  width: 100%;
  height: auto;

  border-radius: 10px;
  box-shadow: 1px 1px 5px -1px grey;
}

.meal-instructions {
  grid-area: instr;
}

.meal-ingredients {
  grid-area: ingr;
  display: grid;
}

.meal-ingredients td {
  width: 50%;
  padding: 5px;
}

.meal-ingredients tr:nth-child(even) {
  background-color: #ececec;
}

.meal-ingredients tr:nth-child(odd) {
  background-color: #f1f1f1;
}
