.meal-details {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas:
    "head head"
    "image instr"
    "ingr instr"
    "foot foot";
  grid-gap: 20px;

  padding: 10px;
}

@media (max-width: 767px) {
  .meal-details {
    grid-template-columns: 1fr;
    grid-template-areas:
      "head"
      "image"
      "tags"
      "instr"
      "ingr"
      "foot";
  }
}

.meal-details-header {
  grid-area: head;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 5px;
}

.meal-details__title {
  margin: 0;
}

.meal-details__tags {
  font-size: 0.9em;
  color: grey;
}

.meal-details__fave-btn {
  grid-column: 2;
  grid-row: 1 / -1;
  align-self: start;
}

.meal-details__image {
  grid-area: image;
  width: 100%;
  height: auto;

  border-radius: 10px;
  box-shadow: 1px 1px 5px -1px grey;
}

.meal-instructions {
  grid-area: instr;
}

.meal-instructions p {
  margin-top: 0;
}

.meal-ingredients {
  grid-area: ingr;
  display: grid;
}

.meal-ingredients td {
  width: 50%;
  padding: 5px;
}

.meal-ingredients tr:nth-child(even) {
  background-color: #ececec;
}

.meal-ingredients tr:nth-child(odd) {
  background-color: #f1f1f1;
}
