@import "./favourite-card.css";
@import "./removed-favourite.css";

.favourites__heading {
  margin: 0;
  padding: 10px;

  background-color: white;
  border-bottom: 1px solid grey;
}

.favourites__list {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
