.favourite-card {
  display: grid;
  grid-template-columns: 120px 1fr auto;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    "title title badge"
    "image .     badge"
    "image info  info"
    "image link  unfave";
  grid-gap: 5px;

  padding: 5px;

  background: white;
  border-radius: 5px;
  box-shadow: 2px 2px 6px -1px lightgrey;
}

.favourite-card__title {
  grid-area: title;
  margin: 0;
}

.favourite-card__info {
  grid-area: info;
  align-self: flex-end;
  text-align: end;

  margin: 0;

  font-size: 0.9em;
  font-style: italic;
  color: grey;
}

.favourite-card__image {
  grid-area: image;
  align-self: flex-end;

  width: 100%;
  height: auto;
  border-radius: 5px;
}

.favourite-card__link {
  grid-area: link;
  justify-self: end;
}

.favourite-card__fave-btn {
  grid-area: unfave;
}

.favourite-card__motd-badge {
  grid-area: badge;
  align-self: flex-start;

  color: tomato;
}
