@import "./motd.css";

.homepage-section {
  display: grid;
  place-items: center;
  grid-gap: 10px;

  padding: 15px 0;
  box-shadow: 0 3px 10px -5px lightgray;
}

.homepage-section .heading,
.homepage-section .subheading {
  margin: 0;
}

.homepage-section .subheading {
  font-style: italic;
}

.homepage-section .categories {
  justify-self: stretch;
}

.categories--preview,
.areas--preview {
  display: grid;
  grid-gap: 10px;
}

.all-options-link {
  place-self: center;
}
