.fave-btn {
  color: white;

  background-color: rgb(255, 138, 71);
  border-radius: 12px;
  box-shadow: 2px 2px 5px -1px grey;
}

.fave-btn:hover {
  box-shadow: 2px 2px 5px -1px #913626;
}

.fave-btn:active {
  background-color: #d14c34;
}

.fave-btn:focus {
  border-color: white;
}

.fave-btn svg {
  width: 24px;
  height: 24px;
}
