.app-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;

  height: 50px;
  padding: 10px;

  background-color: orange;
}

.app-header h1 {
  margin: 0;
}

.app-header h1 a {
  color: inherit;
  text-decoration: none;
}

.app-header h1 a:hover {
  color: white;
}

.app-header .search-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: auto;
  grid-auto-flow: column;
}
