@import "./modal.css";

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;

  padding: 20px;

  background-color: transparent;
  pointer-events: none;
  overflow-y: auto;
}

.modal-container--active {
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: initial;
}
